

server:
  error:
    include-stacktrace: never
  port: 8080


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blog_spring?useSSL=false&jdbcCompliantTruncation=false&sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'
    username: root
    password: Chiliexe@123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      dialect: org.hibernate.dialect.MySQL5Dialect